.App-callback-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-loading-logo {
    width: 100px;
    animation:spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
